html, body {
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	font-family: 'Alegreya Sans', sans-serif;
	line-height: 1.5;
	font-size: 1.2vw;
	letter-spacing: .5px
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
.big {
	font-size: 160%;
	font-weight: bold;
}
*, *::before, *::after {
	box-sizing: border-box;
}
header {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    color: white;
}
header > .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    padding: 1vw 4vw;
}
.header-actions {
	display: flex;
	text-transform: uppercase;
}
.title {
	font-family: 'Alegreya Sans SC';
	letter-spacing: 1px;
	word-spacing: 1px;
}
.header-action {
    margin-left: 1.5vw;
}
.header-action i.fa, .menu i.fa {
    margin-right: 1vw;
}
.menu {
    display: flex;
    background-color: #00000026;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 4vw;
}
.logo {
	flex: 0 0 10%;
}
.logo img {
	width: 100%;
}
.menu-list {
    display: flex;
	text-transform: uppercase;
}
.menu-item {
	margin: 0 1vw;
}
section.banner {
    width: 100vw;
    height: 46vw;
    color: white;
}
.banner-item {
    width: 100%;
    height: 100%;
    position: relative;
}
.banner-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-desc {
	position: absolute;
	right: 8vw;
	bottom: 4vw;
	text-align: right;
}
.banner-desc .big {
	font-size: 160%;
	font-weight: bold;
	color: #c09b75;
}
.btn {
	padding: 1vw 3vw;
	border: none;
	color: white;
	font-family: 'Alegreya Sans SC', sans-serif;
	line-height: 1.5;
	font-size: 1.3vw;
}
.btn.fill {
	background-color: black;
}
.btn.bordered {
	background-color: transparent;
	border: .25vw solid white;
}


section.product-groups {
    width: 100vw;
    height: 23vw;
    color: white;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 4vw;
}
.product-group {
    flex: 0 0 30%;
    height: 19vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2vw;
    position: relative;
}
.product-group:nth-of-type(1) {
	background-image: url(assets/images/8732a4d4-5688-4e58-b72d-7bbd25025da0.jpg);
}
.product-group:nth-of-type(2) {
	background-image: url(assets/images/ec066e7c-6242-4ead-aba7-0025d9dfd007.jpg);
}
.product-group:nth-of-type(3) {
	background-image: url(assets/images/8732a4d4-5688-4e58-b72d-7bbd25025da0.jpg);
}
.product-group > * {
	margin-top: .5vw;
	z-index: 1;
}
.product-group::before {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #00000054;
}