<div class="footer-menu">
    <div class="footer-menu-list">
        <img src="assets/images/Invade logo - White.png" class="footer-logo" alt="">
        <div class="social-details">
            <span><i class="fa fa-twitter"></i></span>
            <span><i class="fa fa-linkedin"></i></span>
            <span><i class="fa fa-medium"></i></span>
            <span><i class="fa fa-instagram"></i></span>
        </div>
    </div>
    <div class="footer-menu-list">
        <div class="footer-menu-item title"><a href="categories.html">Categories</a></div>
        <div class="footer-menu-item"><a href="products.html">Dresses</a></div>
        <div class="footer-menu-item"><a href="products.html">Shirts & Blouses</a></div>
        <div class="footer-menu-item"><a href="products.html">Jumpers</a></div>
        <div class="footer-menu-item"><a href="products.html">Skirts</a></div>
        <div class="footer-menu-item"><a href="products.html">Shoes</a></div>
        <div class="footer-menu-item"><a href="products.html">Coats</a></div>
    </div>
    <div class="footer-menu-list">
        <div class="footer-menu-item title">Information</div>
        <div class="footer-menu-item"><a href="aboutus.html">About Us</a></div>
        <div class="footer-menu-item"><a href="contactus.html">Contact Us</a></div>
        <div class="footer-menu-item"><a href="tandc.html">Terms & Conditions</a></div>
    </div>
    <div class="footer-menu-list">
        <div class="footer-menu-item title">Account</div>
        <div class="footer-menu-item"><a href="account.html">My Account</a></div>
        <div class="footer-menu-item"><a href="login.html">Log in</a></div>
        <div class="footer-menu-item"><a href="address.html">My Addresses</a></div>
        <div class="footer-menu-item"><a href="orders.html">My Orders</a></div
        <div class="footer-menu-item"><a href="designer.html">Register as a designer</a></div>
    </div>
</div>
<div class="footer-info">
    <div>&copy; Invade NG. Powered by NIX</div>
</div>