<div class="footer-menu">
    <div class="footer-menu-list">
        <img src="assets/images/Invade logo - White.png" class="footer-logo" alt="">
        <div class="social-details">
            <span><i class="fa fa-twitter"></i></span>
            <span><i class="fa fa-linkedin"></i></span>
            <span><i class="fa fa-medium"></i></span>
            <span><i class="fa fa-instagram"></i></span>
        </div>
    </div>
    <div class="footer-menu-list">
        <div class="footer-menu-item title">Categories</div>
        <div class="footer-menu-item">Dresses</div>
        <div class="footer-menu-item">Shirts & Blouses</div>
        <div class="footer-menu-item">Jumpers</div>
        <div class="footer-menu-item">Basic & Lingerie</div>
        <div class="footer-menu-item">Skirt</div>
        <div class="footer-menu-item">Coats & Jackets</div>
        <div class="footer-menu-item">Shoes</div>
        <div class="footer-menu-item">Coats</div>
    </div>
    <div class="footer-menu-list">
        <div class="footer-menu-item title">Information</div>
        <div class="footer-menu-item">About Us</div>
        <div class="footer-menu-item">Catalog</div>
        <div class="footer-menu-item">Contact Us</div>
        <div class="footer-menu-item">All Collections</div>
        <div class="footer-menu-item">Privacy Policy</div>
        <div class="footer-menu-item">Services</div>
        <div class="footer-menu-item">News</div>
    </div>
    <div class="footer-menu-list">
        <div class="footer-menu-item title">Account</div>
        <div class="footer-menu-item">My Account</div>
        <div class="footer-menu-item">Log in</div>
        <div class="footer-menu-item">My Addresses</div>
        <div class="footer-menu-item">My Orders</div>
        <div class="footer-menu-item">Password</div>
        <div class="footer-menu-item">Contact us</div>
    </div>
</div>
<div class="footer-info">
    <div>&copy; Invade NG. Powered by NIX</div>
</div>