<div class="top">
    <a class="call" href="tel:08023456789">CALL US ON 0802 345 6789</a>
    <div class="header-actions">
        <form action="" class="action-search">
            <input type="text" name="" value="" placeholder="Enter...">
            <button type="submit"><span><i class="fa fa-search"></i></span></button>
        </form>
        <div class="header-action" id="search-toggle"><span><i class="fa fa-search"></i></span> <span>search</span></div>
        <a href="login.html" class="header-action"><span><i class="fa fa-user"></i></span> account</a>
        <a href="wishlist.html" class="header-action"><span><i class="fa fa-heart"></i></span> wishlist</a>
    </div>
</div>
<div class="menu" id="sticker">
    <a class="logo" href="index.html">
        <img src="assets/images/Invade logo - White.png" alt="">
    </a>
    <div class="menu-list">
        <div class="menu-item has-dropdown">
            <span class="drop-down-trigger"><a href="index.html">home</a></span>
            <div class="drop-down-menu small">
                <div class="drop-down-item"><a href="products.html">Dresses</a></div>
                <div class="drop-down-item"><a href="products.html">Shirts & Blouses</a></div>
                <div class="drop-down-item"><a href="products.html">Jumpers</a></div>
                <div class="drop-down-item"><a href="products.html">Skirts</a></div>
                <div class="drop-down-item"><a href="products.html">Shoes</a></div>
                <div class="drop-down-item"><a href="products.html">Coats</a></div>
            </div>
        </div>
        <div class="menu-item has-dropdown large">
            <span class="drop-down-trigger">catalogue</span>
            <div class="drop-down-menu">
                <div class="display-menu">
                    <div class="display-menu-list">
                        <img src="assets/images/Invade logo - Black.png" class="display-logo" alt="">
                        <div class="social-details">
                            <span><i class="fa fa-twitter"></i></span>
                            <span><i class="fa fa-linkedin"></i></span>
                            <span><i class="fa fa-medium"></i></span>
                            <span><i class="fa fa-instagram"></i></span>
                        </div>
                    </div>
                    <div class="display-menu-list">
                        <div class="display-menu-item title"><a href="categories.html">Categories</a></div>
                        <div class="display-menu-item"><a href="products.html">Dresses</a></div>
                        <div class="display-menu-item"><a href="products.html">Shirts & Blouses</a></div>
                        <div class="display-menu-item"><a href="products.html">Jumpers</a></div>
                        <div class="display-menu-item"><a href="products.html">Skirts</a></div>
                        <div class="display-menu-item"><a href="products.html">Shoes</a></div>
                        <div class="display-menu-item"><a href="products.html">Coats</a></div>
                    </div>
                    <div class="display-menu-list">
                        <div class="display-menu-item title">Information</div>
                        <div class="display-menu-item"><a href="aboutus.html">About Us</a></div>
                        <div class="display-menu-item"><a href="contactus.html">Contact Us</a></div>
                        <div class="display-menu-item"><a href="tandc.html">Terms & Conditions</a></div>
                    </div>
                    <div class="display-menu-list">
                        <div class="display-menu-item title">Account</div>
                        <div class="display-menu-item"><a href="account.html">My Account</a></div>
                        <div class="display-menu-item"><a href="login.html">Log in</a></div>
                        <div class="display-menu-item"><a href="address.html">My Addresses</a></div>
                        <div class="display-menu-item"><a href="orders.html">My Orders</a></div>
                        <div class="display-menu-item"><a href="designer.html">Register as a designer</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-item">blog</div>
        <div class="menu-item has-dropdown large">
            <span class="drop-down-trigger">sale</span>
            <div class="drop-down-menu">
                <div class="display-menu has-products popup-details">
                    <a class="pouplar-product" href="product.html">
                        <img class="popular-product-img" src="assets/images/Products/IMG_0477.jpg" alt="">
                        <span class="popular-product-desc" >
                            <span>
                                <b>Lorem Ipsum Dolor Sit Amet</b>
                            </span>
                            <span>$150</span>
                        <span>
                    </a>
                    <a class="pouplar-product" href="product.html">
                        <img class="popular-product-img" src="assets/images/Products/IMG_0477.jpg" alt="">
                        <span class="popular-product-desc" >
                            <span>
                                <b>Lorem Ipsum Dolor Sit Amet</b>
                            </span>
                            <span>$150</span>
                        <span>
                    </a>
                    <a class="pouplar-product" href="product.html">
                        <img class="popular-product-img" src="assets/images/Products/IMG_0477.jpg" alt="">
                        <span class="popular-product-desc" >
                            <span>
                                <b>Lorem Ipsum Dolor Sit Amet</b>
                            </span>
                            <span>$150</span>
                        <span>
                    </a>
                    <a class="pouplar-product" href="product.html">
                        <img class="popular-product-img" src="assets/images/Products/IMG_0477.jpg" alt="">
                        <span class="popular-product-desc" >
                            <span>
                                <b>Lorem Ipsum Dolor Sit Amet</b>
                            </span>
                            <span>$150</span>
                        <span>
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-item"><a href="contactus.html">Contact Us</a></div>
    </div>
    <div class="cart-preview has-dropdown">
        <span class="drop-down-toggle"><i class="fa fa-shopping-bag"></i>MY CART: 2 item(s)</span>
        <div class="drop-down-menu small">
            <div class="cart-drop-down-items">
                <div class="cart-drop-down-item">
                    <img class="product-img-thumbnail" src="assets/images/Products/IMG_1754.jpg" alt="">
                    <div class="product-desc">
                        <div>Illusion Yoke Lace Sheath Dress</div>
                        <div>$80.00 x 1</div>
                    </div>
                    <div class="product-actions">
                        <span><i class="fa fa-trash"></i></span>
                    </div>
                </div>
                <div class="cart-drop-down-item">
                    <img class="product-img-thumbnail" src="assets/images/Products/d4d721f1-5a7f-4e20-848c-ac1cfc126fb4.jpg" alt="">
                    <div class="product-desc">
                        <div>Illusion Yoke Lace Sheath Dress</div>
                        <div>$80.00 x 4</div>
                    </div>
                    <div class="product-actions">
                        <span><i class="fa fa-trash"></i></span>
                    </div>
                </div>
                <div class="cart-drop-down-actions">
                    <span class="total">Total price: $220.00</span>
                    <span title="Clear Cart"><i class="fa fa-refresh"></i></span>
                    <a href="cart.html" class="btn fill">VIEW CART</a>
                    <a href="checkout.html" class="btn fill">CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>