<div
  id="modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby=""
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="abs close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="quickview">
          <div class="quickview-image-container">
            <div class="quickview-product-thumbnails">
              <img
                class="quickview-product-thumbnail"
                src="assets/images/Products/IMG_0477.jpg"
                alt=""
              />
              <img
                class="quickview-product-thumbnail"
                src="assets/images/Products/IMG_0477.jpg"
                alt=""
              />
              <img
                class="quickview-product-thumbnail"
                src="assets/images/Products/IMG_0477.jpg"
                alt=""
              />
            </div>
            <img
              class="quickview-product-image"
              src="assets/images/Products/IMG_0477.jpg"
              alt=""
            />
          </div>
          <div class="quickview-desc-container">
            <div class="title">
              Lorem Ipsum Dolor Sit Amet
            </div>
            <div class="avail">
              Availability: <span class="text-success">Available</span>
            </div>
            <div class="quickview-pricing">
              <div>
                <span class="quickview-price">$140.00</span>
                <span class="strike-through">$144.00</span>
              </div>
              <div class="quickview-discount">
                - 2 %
              </div>
            </div>
            <div class="quickview-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Laudantium ut et facilis explicabo, ex modi, dolor at cumque
              facere nisi sequi accusantium quae voluptatum deleniti doloribus
              sapiente nihil enim architecto!
            </div>
            <div class="quickview-details">
              <div>Product type: Vintage</div>
              <div>Vendor: World Fashion Apparel</div>
            </div>
            <div class="quickview-actions">
              <div class="quickview-material">
                <button
                  class="btn fill sm"
                  href="javascript:void(0)"
                  data-target="#material"
                  data-toggle="modal"
                >
                  select material
                </button>
                &nbsp; <span>No material selected</span>
              </div>
              <!-- <div class="quickview-color">
                        <div class="has-dropdown">
                                <span class="drop-down-trigger">Color</span>
                                <div class="drop-down-menu small">
                                    <div class="drop-down-item">Green</div>
                                    <div class="drop-down-item">Black</div>
                                    <div class="drop-down-item">Striped</div>
                                    <div class="drop-down-item">Orange</div>
                                </div>
                            </div>
                    </div> -->
              <!-- <div class="quickview-size">
                        <div class="has-dropdown">
                                <span class="drop-down-trigger">Size</span>
                                <div class="drop-down-menu small">
                                    <div class="drop-down-item">XS</div>
                                    <div class="drop-down-item">S</div>
                                    <div class="drop-down-item">M</div>
                                    <div class="drop-down-item">L</div>
                                    <div class="drop-down-item">XL</div>
                                </div>
                            </div>
                    </div> -->
              <!-- <div class="quickview-quantity">
                            <div class="has-dropdown">
                                    <span class="drop-down-trigger">Quantity</span>
                                    <div class="drop-down-menu small">
                                        <div class="drop-down-item">1</div>
                                        <div class="drop-down-item">2</div>
                                        <div class="drop-down-item">3</div>
                                        <div class="drop-down-item">4</div>
                                        <div class="drop-down-item">5</div>
                                    </div>
                                </div>
                        </div> -->
            </div>
            <button class="btn sm fill">add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  id="material"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby=""
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select Material</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="quickview">
          <div class="materials">
            <div class="material">
              <img
                src="assets\images\thread-4058667_1920.jpg"
                alt=""
                class="material-img"
              />
              <span class="material-desc">Cashmere</span>
            </div>
            <div class="material">
              <img
                src="assets\images\thread-4058667_1920.jpg"
                alt=""
                class="material-img"
              />
              <span class="material-desc">Cashmere</span>
            </div>
            <div class="material">
              <img
                src="assets\images\thread-4058667_1920.jpg"
                alt=""
                class="material-img"
              />
              <span class="material-desc">Cashmere</span>
            </div>
            <div class="material">
              <img
                src="assets\images\thread-4058667_1920.jpg"
                alt=""
                class="material-img"
              />
              <span class="material-desc">Cashmere</span>
            </div>
            <div class="material">
              <img
                src="assets\images\thread-4058667_1920.jpg"
                alt=""
                class="material-img"
              />
              <span class="material-desc">Cashmere</span>
            </div>
            <div class="material">
              <img
                src="assets\images\thread-4058667_1920.jpg"
                alt=""
                class="material-img"
              />
              <span class="material-desc">Cashmere</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
